body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #009879;
}

table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 18px;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #009879;
    color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
} 